# THIS IS HEADER ONE

## THIS IS HEADER TWO

### THIS IS HEADER THREE

In [3]:
print('hello world')

hello world

In [4]:
# this is comment

In [5]:
name = 'inez'

In [6]:
name

'inez'

In [7]:
name = 'jihyaa'

In [8]:
name

'jihyaa'

In [9]:
a,b,c = 'inez', 'jihyaa', 6

In [10]:
a

'inez'

In [11]:
b

'jihyaa'

In [12]:
c

6

In [13]:
x=y= 'koyee'

In [14]:
x

'koyee'

In [15]:
y

'koyee'

In [16]:
_age = 23

In [17]:
_age

23

In [18]:
!age = 10

'age' is not recognized as an internal or external command,
operable program or batch file.

In [19]:
a = 5
b = 2.5
c = 2+3j

In [20]:
type(a)

int

In [21]:
type(b)

float

In [22]:
type(c)

complex

In [23]:
name = "inez"

In [24]:
type(name)

str

In [25]:
bol = False

In [26]:
type(bol)

bool

In [27]:
q = None

In [28]:
type (q)

NoneType

In [29]:
f1 = 10.12
f2 = 3
print(type(f1))
print(type(f2))

<class 'float'>
<class 'int'>

In [30]:
f2 =f2/f1

In [31]:
print(f2)
print(type(f2))

0.2964426877470356
<class 'float'>

In [32]:
f2 = float(f2)

In [33]:
type(f2)

float

In [34]:
str1 = '10'
type(str1)

str

In [35]:
str1 = int(str1)

In [36]:
type(str1)

int

In [37]:
str1

10

In [38]:
name = 'alez'
age = 20

In [39]:
# using add method 
print('My name is ' +  name +  ' and age is',+ age)

My name is alez and age is 20

In [40]:
# using f string method
print(f'My name is {name} and age is {age}')

My name is alez and age is 20

In [41]:
# using .format method 
print('My name is {} and age is {}'.format(name,age))

My name is alez and age is 20

In [42]:
tup1 = (1,2,3)

In [43]:
type(tup1)

tuple

In [44]:
tup1

(1, 2, 3)

In [45]:
#sets
#unique (no duplicate)
#unordered

In [46]:
#unique
s1 = set()

In [47]:
type(s1)

set

In [48]:
s1 = {1,2,3,4}

In [49]:
type(s1)

set

In [50]:
s2 = {1,2,2,4,3,5,6,6}

In [51]:
s2

{1, 2, 3, 4, 5, 6}

In [52]:
#create 2 sets perform union on two sets
a = {1,2,3,4}
b = {5,6,7,8}
print (a|b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [53]:
a = {1,2,3,4}
b = {5,6,7,8}
total = a.union(b)
print(total)

{1, 2, 3, 4, 5, 6, 7, 8}

In [54]:
#for intersection
a = {1,2,3,4}
b = {5,2,7,3}
print (a & b)

{2, 3}

In [55]:
#create dictionary
dict1 = {"name": "inez", "age": 23}
print(dict1)

{'name': 'inez', 'age': 23}

In [56]:
print(dict1["name"])
print(dict1["age"])

inez
23

In [57]:
dict1["location"] = "Kathmandu"

In [58]:
print(dict1)

{'name': 'inez', 'age': 23, 'location': 'Kathmandu'}

In [59]:
del dict1["age"]

In [60]:
print(dict1)

{'name': 'inez', 'location': 'Kathmandu'}

In [61]:
#frozenset : immutable set
frozset = frozenset([1,2,3,3,4,5])

In [62]:
frozset

frozenset({1, 2, 3, 4, 5})

In [69]:
from collections import deque
dq = deque([1,2,3])

In [70]:
dq.append(4)

In [71]:
dq.pop()

4

In [72]:
print(dq)

deque([1, 2, 3])

In [76]:
from collections import Counter
c= Counter("aaaabbbbbbccccccdddd")

In [77]:
c

Counter({'b': 6, 'c': 6, 'a': 4, 'd': 4})

In [78]:
l1 = [1,2,3,4,5]

In [79]:
lc = [item*item for item in l1 ]

In [80]:
lc

[1, 4, 9, 16, 25]

In [81]:
l2= [1,2,3,4,77,47,49]
lc2= [item for item in l2 if item % 2 == 0]
print(lc2)

[2, 4]

In [82]:
l3 = ["hello", "world"]
lc3 = [item.upper() for item in l3 ]

In [83]:
lc3

['HELLO', 'WORLD']

In [86]:
#dict comprehension
lc4 = {item: item.upper() for item in l3}

In [87]:
lc4

{'hello': 'HELLO', 'world': 'WORLD'}

In [88]:
l5 = {item: item**2 for item in range (1,11)}

In [89]:
l5

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [90]:
#generators -- return value one at a time
g1 = (item for item in range(10))

In [91]:
g1

In [92]:
next(g1)

0

In [ ]:
#lambda --- small, one line function
#syntac
# lambda variable : function_body

In [2]:
#create a lamda function to get the square of num:
result = lambda x: x* x
result(5)

25

In [ ]:
#map --- applies function to iterable (list)
#Syntax
# map(functiopn, iterable)
num = [1,2,3,4]
#add 3 to every iterable of list num
add = list(map(lambda x : x+3, num))
print(add)

[4, 5, 6, 7]

In [4]:
#filter --- return the true value
#SYNTAX
#filter(function, iterable)

In [6]:
#using filter from the list filter numbers divisible by 3
num = [1,2,3,4,5,6,7,8,9,10,11,12]
div = list(filter(lambda x : x % 3 ==0, num))
print(div)

[3, 6, 9, 12]

In [8]:
#reduce ---educe a list to a single value by applying a function cumulatively to the elements.
from functools import reduce
sum_num = reduce(lambda x,y : x+ y, num)
print(sum_num)

78

In [9]:
#squred sun of even number from list (filter, map, reduce)
num1 = [1,2,3,4,5,6,7,8]
even_num1 = list(filter(lambda x : x % 2 ==0, num1))

In [10]:
squared_even = list(map(lambda x: x**2, even_num1))
print(squared_even)

[4, 16, 36, 64]

In [11]:
squared_even = list(map(lambda x: x**2, even_num1))
print(squared_even)

[4, 16, 36, 64]

In [12]:
from functools import reduce

squared_sum = reduce(lambda x, y: x + y, squared_even)
print(squared_sum)

120

In [ ]:
#error handling
#helps your program to not crash 
#show a friendly message instead.
# syntax : use try, except, else, finally blocks

In [14]:
# try:
#     #code that can rise exception
#     pass
# except exception_type:
#     #code that shows this exception
#     pass
# else:
#     #program when run is success or no exception
# finally:
#     #always run this
#     pass

In [18]:
try:
    num1 = int(input('ENter the first number: '))
    num2 = int(input('ENter the second number: '))
    div_result = num1/num2
except ZeroDivisionError:
    print('Second number cannot be Zero')
except ValueError:
    print('The input value is not correct')
else:
    print(f'The result is {div_result}')
finally:
    print('Program Run is successful')

The input value is not correct
Program Run is successful

In [22]:
#creating custom exception 
class NegativeNumberError(Exception):
    pass

In [24]:
def negative_age(x):
    if x < 0:
        raise NegativeNumberError('Age cannot be negative')
    return 'Age is valid'

In [25]:
try:
    negative_age(-1)
except NegativeNumberError as e:
    print(e)

Age cannot be negative

In [ ]:
#assignment: Build CSV - Json converter using Exception Handling

In [26]:
#PYTHON CLASS
class ClassName:
    #class attributes and methods
    pass

#create a object of a class
c1 = ClassName()

In [47]:
class Car:
    #constructor
    def __init__(self, brand, model, year):
        self.brand = brand
        self.model = model
        self.year = year
        self.speed = 0 

    def display_info(self):
        print(f"Build Year : {self.year}, Brand : {self.brand}, Model : {self.model}")
    
    def accelerate (self, amount):
        self.speed += amount
        print("Car speed is", self.speed, 'km/hr')

c2 = Car('Toyota', 'Hilux', 2000)
c2.display_info()

Build Year : 2000, Brand : Toyota, Model : Hilux

In [42]:
#create a object of a class

In [48]:

c2.accelerate(80)

Car speed is 80 km/hr

In [49]:
#operator overloading, dunder methods  (double underscore)

In [62]:
#vector addition using operator overloading
class Vector2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    #string vector overloading
    def __str__(self):
        return f'{self.x}, {self.y}'
    
    #addition v1 + v2
    def __add__(self, other):
        return Vector2D(self.x + other.x, self.y+other.y)
    
    #substraction
    def __sub__(self, other):
        return Vector2D(self.x - other.x, self.y -other.y)

In [66]:
#instance of class Vector2D
v1 = Vector2D(2, 3)
v2 = Vector2D(3, 4)

In [67]:
print(v1+v2)

5, 7

In [68]:
print(v1-v2)

-1, -1

In [ ]:
#inheritance, method overriding
class Animal():
    def __init__(self):
        pass

    def speak(self):
        print('Animal Speak')

In [98]:
#single inheritance with method overriding
class Dog (Animal):
    def __init__(self):
         pass
    def speak(self):
        print('Dog Barks')

In [99]:
d1 = Dog()

In [100]:
d1.speak()

Dog Barks

In [101]:
class Employee():
    def __init__(self,name, base_salary):
        self.name = name
        self.base_salary = base_salary
    
    def get_details(self):
        return f'Employee Name: {self.name}, Salary: {self.base_salary}'

In [102]:
class Manager(Employee):
    def __init__(self, name, base_salary, bonus):
        super().__init__(name, base_salary)
        self.bonus = bonus
    
    def get_details(self):
        base = super().get_details()
        return f"{base}, Bonus: {self.bonus}"

In [104]:
e1 = Employee('Niha', 1000)
m1 =Manager('Inez', 2000, 200)

In [105]:
e1.get_details()

'Employee Name: Niha, Salary: 1000'

In [106]:
m1.get_details()

'Employee Name: Inez, Salary: 2000, Bonus: 200'

In [107]:
###MIXINS 
# #special class that add reusable functionality to other class, they are not fully parent
# __init__ is not defined

In [108]:
from datetime import datetime
class LogMixin():
    def log(self, message):
        return f"[{datetime.now()}]: {message}"

In [113]:
class User(LogMixin):
    def __init__ (self, username, password):
        self.username = username
        self.password = password

    def greet(self):
        print(self.log(f"{self.username} has logged in."))

In [119]:
u1 = User('admin', 'admin1')

In [115]:
u1.greet()

[2025-07-08 08:47:07.429388]: admin has logged in.

In [132]:
class DiscountMixins():
    def add_discount(self, percent):
        discount = self.price * (percent/100)
        print(f"Original price is {self.price} and price after discount is {self.price-discount}")

In [133]:

class Product(DiscountMixins):
    def __init__(self,name, price):
        self.name = name
        self.price = price

    def final_price(self, name, price):
        super().add_discount(20)

In [134]:
p1 = Product('rice', 2000)

In [136]:
p1.final_price('rice', 2000)

Original price is 2000 and price after discount is 1600.0