In [2]:
import sqlite3 #build in sqlite3 module

#connect the database (file will be created id doesnt exist)
conn = sqlite3.connect ('students.db')

#create a cursor to execute a sql
cursor = conn.cursor() #cursor execute the query

In [3]:
#create table
cursor.execute("""
CREATE TABLE if not exists students(
    id integer primary key autoincrement,
    name text not null,
    grade integer,
    address text 
)"""
)
conn.commit()

In [4]:
#insert into table
cursor.execute("""insert into students (name, grade, address) values
('Inez', 12, 'KTM'),
('Jihyaa', 11, 'PKR'),
('Hermez', 10, 'BKT')""")

conn.commit()

In [5]:
#select
cursor.execute("""select * from students""")
rows = cursor.fetchall()

In [6]:
for items in rows:
    print(items)

(1, 'Inez', 12, 'KTM')
(2, 'Jihyaa', 11, 'Khotang')
(3, 'Hermez', 10, 'BKT')
(10, 'Inan', 10, 'Lalitpur')
(11, 'Inez', 12, 'KTM')
(12, 'Jihyaa', 11, 'Khotang')
(13, 'Hermez', 10, 'BKT')
(14, 'Inan', 10, 'Lalitpur')
(15, 'Piya', 9, 'Pakistan')
(16, 'Riya', 8, 'India')
(17, 'Diya', 7, 'Bangladesh')
(18, 'Inez', 12, 'KTM')
(19, 'Jihyaa', 11, 'PKR')
(20, 'Hermez', 10, 'BKT')

In [7]:
#update
cursor.execute("""update students
set address = 'Khotang'
where name = 'Jihyaa'""")

conn.commit()

In [8]:
#insert new record into students
cursor.execute("""
INSERT INTO students (name, grade, address)
VALUES ('Inan', 10, 'Lalitpur')
""")

conn.commit()

In [9]:
cursor.execute("""select * from students where id = 10 """)
rows = cursor.fetchall()

In [10]:
rows

[(10, 'Inan', 10, 'Lalitpur')]

In [11]:
conn = sqlite3.connect('students.db')

In [12]:
cursor = conn.cursor()

In [13]:
name = 'Inan'

In [14]:
cursor.execute("select * from students where name = ?", (name,))

In [15]:
cursor.fetchall()

[(10, 'Inan', 10, 'Lalitpur'),
 (14, 'Inan', 10, 'Lalitpur'),
 (21, 'Inan', 10, 'Lalitpur')]

In [16]:
#create a list of students record and pass it as parameterized query
#to insert into students table

In [17]:
students = [
    ('Piya', 9, 'Pakistan'),
    ('Riya', 8, 'India'),
    ('Diya', 7, 'Bangladesh')
]

In [ ]:
cursor.executemany("""
INSERT INTO students (name, grade, address)
VALUES (?, ?, ?)
""", students)

conn.commit()

In [23]:
cursor.execute("SELECT * FROM students")
rows =cursor.fetchall()

In [24]:
rows

[(1, 'Inez', 12, 'KTM'),
 (2, 'Jihyaa', 11, 'Khotang'),
 (3, 'Hermez', 10, 'BKT'),
 (10, 'Inan', 10, 'Lalitpur'),
 (11, 'Inez', 12, 'KTM'),
 (12, 'Jihyaa', 11, 'Khotang'),
 (13, 'Hermez', 10, 'BKT'),
 (14, 'Inan', 10, 'Lalitpur'),
 (15, 'Piya', 9, 'Pakistan'),
 (16, 'Riya', 8, 'India'),
 (17, 'Diya', 7, 'Bangladesh'),
 (18, 'Inez', 12, 'KTM'),
 (19, 'Jihyaa', 11, 'Khotang'),
 (20, 'Hermez', 10, 'BKT'),
 (21, 'Inan', 10, 'Lalitpur'),
 (22, 'Piya', 9, 'Pakistan'),
 (23, 'Riya', 8, 'India'),
 (24, 'Diya', 7, 'Bangladesh')]